<!-- Composant enfant -->
<div class="card-body">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th
          class="sortable"
          [ngClass]="{
            asc: this.sortState['id'] == true,
            desc: this.sortState['id'] == false
          }"
          (click)="sortBooks('id')"
        >
          ID
        </th>
        <th
          class="sortable"
          [ngClass]="{
            asc: this.sortState['title'] == true,
            desc: this.sortState['title'] == false
          }"
          (click)="sortBooks('title')"
        >
          Titre
        </th>
        <th
          class="sortable"
          [ngClass]="{
            asc: this.sortState['author'] == true,
            desc: this.sortState['author'] == false
          }"
          (click)="sortBooks('author')"
        >
          Auteur
        </th>
        <th
          class="sortable"
          [ngClass]="{
            asc: this.sortState['date'] == true,
            desc: this.sortState['date'] == false
          }"
          (click)="sortBooks('date')"
        >
          Année de Publication
        </th>
        <th
          class="sortable"
          [ngClass]="{
            asc: this.sortState['type'] == true,
            desc: this.sortState['type'] == false
          }"
          (click)="sortBooks('type')"
        >
          Genre
        </th>
        <th>ISBN</th>
      </tr>
    </thead>

    <tbody>
      @if (this.books.length > 0) { @for (book of pageOfBooks; track book.id) {
      <tr>
        <td>N°{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.date }}</td>
        <td>{{ book.type }}</td>
        <!-- Juste pour test -->
        <td>{{ displayBookISBN(book) }}</td>
      </tr>
      } }@else {
      <tr>
        <td colspan="6">Il n'y a aucun livre.</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="card-footer pt-3">
  <app-pagination
    [items]="books"
    (changePage)="onChangePage($event)"
  ></app-pagination>
</div>
