<div class="custom-container color-dark">
  <div class="col">
    <p>Ajouter une activité</p>
  </div>
  <div class="col">
    <p>Nombre d'activité actuels : {{ nbItems }}</p>
  </div>
</div>

<div
  class="custom-container color-light"
  [@animobjectifs]="this.activiteService.objectifs.length"
>
  <div class="col">
    <p class="col">Titre de l'activité :</p>
    <input
      type="text"
      class="txt"
      [(ngModel)]="objectifTitle"
      placeholder="..."
    />
    <input
      type="submit"
      class="btn"
      value="{{ btnText }}"
      (click)="ajoutItem()"
      [ngClass]="getAnimationClass()"
    />
  </div>
  <div class="col">
    <p class="col">Description de l'activité :</p>
    <input
      type="text"
      class="txt"
      [(ngModel)]="objectifDescription"
      placeholder="..."
    />
  </div>
</div>

<div class="container-list">
  <p>Ma liste d'activité :</p>

  <div class="grid-container">
    <div
      class="card border-primary m-auto w-100 mb-1"
      style="max-width: 18rem"
      *ngFor="let elt of this.activiteService.objectifs; let i = index"
      (click)="showActivite(i)"
    >
      <div class="card-header">Activité n°{{ i }}</div>
      <div class="card-body text-primary">
        <h5 class="card-title">{{ elt.title }}</h5>
        <p class="card-text">{{ elt.description }}</p>
      </div>
    </div>
  </div>
</div>
