<h1 class="font-weight-bold">Détails de l'activité :</h1>
<ol>
  @if (!this.monParam && !this.monParam2) { Aucun Paramètre } @else if
  (this.monParam && !this.monParam2) {
  <li>
    @if (!isEdit) {
    <p>
      Nom de l'activité :
      <strong>
        {{ this.activiteService.objectifs[this.monParam].title }}
      </strong>
    </p>
    <p>
      Description de l'activité :
      <strong>
        {{ this.activiteService.objectifs[this.monParam].description }}
      </strong>
    </p>
    } @else {
    <div class="box">
      <p>Nom de l'activité :</p>
      <input
        type="text"
        class="txt"
        [(ngModel)]="inputTitle"
        placeholder="{{ this.activiteService.objectifs[this.monParam].title }}"
      />
    </div>
    <div class="box">
      <p>Description de l'activité :</p>
      <input
        type="text"
        class="txt"
        [(ngModel)]="inputDescription"
        placeholder="{{
          this.activiteService.objectifs[this.monParam].description
        }}"
      />
    </div>
    }

    <input
      type="button"
      class="btn btn-success me-1"
      value="{{ isEdit ? 'Sauvegarder' : 'Modifier' }}"
      (click)="modifierElem()"
    />

    <input
      type="button"
      value="Supprimer"
      class="btn btn-danger me-1"
      (click)="supprimeElem()"
    />

    @if (!isEdit) {
    <input
      type="button"
      value="Retour"
      class="btn btn-secondary"
      (click)="retour()"
    />
    }
  </li>

  } @else {
  <li>
    Premier paramètre : <strong>{{ this.monParam }}</strong>
  </li>
  <li>
    Deuxième paramètre : <strong>{{ this.monParam2 }}</strong>
  </li>
  }
</ol>
