input.delete-btn {
  border: 0;
  border-radius: 1em;
  padding: 1em 3em;
  background: rgba(230, 35, 10, 0.726);
  color: rgb(229, 239, 247);
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

input.update-btn {
  border: 0;
  border-radius: 1em;
  padding: 1em 3em;
  background: rgba(4, 106, 4, 0.726);
  color: rgb(229, 239, 247);
  margin-bottom: 1em;
  cursor: pointer;
}

input.btn {
  border: 0;
  border-radius: 1em;
  padding: 1em 3em;
  background: rgba(20, 48, 134, 0.726);
  color: rgb(229, 239, 247);
  margin-bottom: 1em;
  cursor: pointer;
}

input.txt {
  border: 0;
  padding: 1em;
  width: 40%;
  margin-bottom: 2em;
  margin-left: 1em;
}

.box {
  display: flex;
  flex-direction: row;
}
