<div
  class="d-flex flex-column align-items-center justify-content-center"
  role="main"
>
  <h1>Cours champs d'applications</h1>
  <h2 class="text-success">{{ title }}</h2>
  <p class="bg-info">{{ description }}</p>

  <div class="card-container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Liste étudiants :</h2>
        @for(etudiant of etudiants; track etudiant.nom) {
        <app-etudiant
          [nomEtudiant]="etudiant.nom"
          [prenomEtudiant]="etudiant.prenom"
          [statutEtudiant]="etudiant.statut"
        ></app-etudiant>
        }

        <button
          class="btn btn-success"
          [disabled]="!estAuth"
          (click)="rendTousPres()"
        >
          Tous présents
        </button>

        <button
          class="btn btn-danger"
          [disabled]="!estAuth"
          (click)="rendTousAbs()"
        >
          Tous absents
        </button>
      </div>
    </div>
  </div>
</div>
